---
import MainLayout from "@layouts/MainLayout.astro";

export async function getStaticPaths() {
  const posts = await Astro.glob("../../content/posts/*.{md,mdx}");

  return posts.map(({ slug, title, text }) => {
    return {
      params: { slug },
      props: { title, text },
    };
  });
}

const { title, text } = Astro.props;
console.log("hola");
---

<MainLayout title="hello">
  <div class="content">
    <h1>{title}</h1>
    <p>{text}</p>
  </div>
</MainLayout>

<script>
  const img = document.getElementsByTagName("img");

  for (let i = 0; i < img.length; i++) {
    img[i].style.width = "100%";
    img[i].style.height = "auto";
  }
</script>

<style>
  .content[data-astro-cid-cslztpaw] {
    margin-bottom: 10%;
  }
</style>
