---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout>
  <h1>Blog</h1>
  <section>
    <p>here you can find entries about programming and accessibility</p>
  </section>
</MainLayout>
