html {
  --background: #13151a;
  --font: white;
}

html.light {
  --background: white;
  --font: black;
}

@font-face {
  font-family: "RobotoMono";
  src: url("/font/RobotoMono-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body, html {
  font-family: "RobotoMono", system-ui, sans-serif;
  background: var(--background);
  color: var(--font);
  margin: auto;
  width: 70%;
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  body {
    width: 90%;
  }
}

code {
  font-family:
    "RobotoMono",
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

a,
button {
  color: var(--font);
  text-decoration-color: #eb4888;
  text-decoration-thickness: 3px;
  transition: transform 0.3s;
}

a:hover,
button:hover {
  color: pink;
  transform: scale(1.1);
}

button {
  border: none;
  background-color: transparent;
  font-family: RobotoMono;
}

a:focus,
button:focus {
  outline: 3px dotted pink;
  padding: 1%;
  width: auto;
} 