---
import MainLayout from "../../../layouts/MainLayout.astro";
const posts = await Astro.glob('../../../content/posts/*.{md,mdx}')
---

<MainLayout>
  <h1>Blog</h1>
  <section>
    {posts?.map((post) => (
      <div>
        <a href={`./${post.file.split('/').pop().replace(/\.md(x)?/,'')}`}>{post.frontmatter.title}</a>
      </div>
    ))}
    <p>here you can find entries about programming and accessibility</p>
  </section>
</MainLayout>