---
import MainLayout from "../../../layouts/MainLayout.astro";

import { client } from '../../../../tina/__generated__/client'

const postsResponse = await client.queries.postConnection()
const posts = postsResponse.data.postConnection.edges?.map((post) => {
  return { slug: post!.node?._sys.filename, body: post!.node?._sys.relativePath }
})

console.log(posts, '123')
---

<MainLayout>
  <h1>Blog</h1>
  <section>
    <p>here you can find entries about programming and accessibility</p>
  </section>
</MainLayout>
