---
import MainLayout from "../../../layouts/MainLayout.astro";
const posts = await Astro.glob("../../../content/posts/*.{md,mdx}");
---

<MainLayout>
  <h1>Blog</h1>
  <section>
    <p>Acá podrás encontrar entradas sobre accesibilidad</p>
    {
      posts
        ?.sort((a, b) => {
          const dateA = new Date(a.frontmatter.posted).getTime();
          const dateB = new Date(b.frontmatter.posted).getTime();
          return dateB - dateA;
        })
        .map((post) => (
          <li>
            <a
              href={`./${post.file
                .split("/")
                .pop()
                .replace(/\.md(x)?/, "")}`}
            >
              {post.frontmatter.title}
            </a>
          </li>
        ))
    }
  </section>
</MainLayout>

<style>
  a {
    color: var(--font);
    text-decoration-color: #eb4888;
    text-decoration-thickness: 3px;
    transition: transform 0.3s;
  }

  a:hover {
    color: pink;
    transform: scale(1.1);
  }

  a:focus {
    outline: 3px dotted pink;
    padding: 1%;
    width: auto;
  }
</style>
