---
import ThemeToggler from "./ThemeToggler.astro";
import { getRelativeLocaleUrl } from "astro:i18n";

const pathname = Astro.url.pathname;

let currentLng = pathname.includes("/es/") ? "en" : "es";
let blogLng = pathname.includes("/es/") ? "es" : "en";
const textLang = currentLng === "es" ? "Español" : "English";
console.log(blogLng)
---

<header>
  <nav id="main-nav">
    <ul>
      <li>
        <a href={getRelativeLocaleUrl(blogLng, "/")} class="nav-link">✨Mica</a>
      </li>
      <li>
        <a href={getRelativeLocaleUrl(blogLng, "/blog")} class="nav-link"
          >blog</a
        >
      </li>
      <li>
        <a href="#" class="nav-link">contact me</a>
      </li>
    </ul>
    <nav>
      <a href={getRelativeLocaleUrl(currentLng, "")}>{textLang}</a>
      <ThemeToggler />
    </nav>
  </nav>
</header>

<style scoped="scss">
  a,
  button {
    color: var(--font);
    text-decoration-color: #eb4888;
    text-decoration-thickness: 3px;
    transition: transform 0.3s;
  }

  a:hover,
  button:hover {
    color: pink;
    transform: scale(1.1);
  }

  button {
    border: none;
    background-color: transparent;
    font-family: RobotoMono;
  }

  a:focus,
  button:focus {
    outline: 3px dotted pink;
    padding: 1%;
    width: auto;
  }

  header {
    padding: 3% 0 3% 0;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    gap: 4%;
    flex-direction: row;
    width: -webkit-fill-available;
  }

  ul > li {
    list-style: none;
  }

  p {
    margin: 0;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
</style>

