<header>
  <div>
    <p>mica</p>
  </div>
  <nav>
    <ul>
      <li>
        <a href="#">about me</a>
        <a href="#">blog</a>
        <a href="#">contact me</a>
      </li>
    </ul>
  </nav>
</header>

<style scoped="scss">
  header {
    background-color: pink;
    width: 100vw;
  }

  p {
    margin: 0;
  }
</style>
