---
import { getRelativeLocaleUrl } from "astro:i18n";
import {
  getLangFromUrl,
  useTranslatedPath,
  getRouteFromUrl,
} from "../i18n/utils";
import { languages } from "../i18n/ui";

const route = getRouteFromUrl(Astro.url);
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<header>
  <nav id="main-nav">
    <ul>
      <li>
        <a href={translatePath("/")} class="nav-link">✨Mica</a>
      </li>
      <li>
        <a href={getRelativeLocaleUrl(lang, "/blog")} class="nav-link">Blog</a>
      </li>
    </ul>
    <nav>
      <ul>
        {
          Object.entries(languages).map(([lang, label]) => (
            <li>
              <a href={translatePath(`${route ? route : ""}`, lang)}>{label}</a>
            </li>
          ))
        }
      </ul>
    </nav>
  </nav>
</header>

<style scoped="scss">
  header {
    margin: auto;
    position: fixed;
    background-color: var(--background);
    width: -webkit-fill-available;
    left: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    gap: 4%;
    flex-direction: row;
    width: -webkit-fill-available;
  }

  ul > li {
    list-style: none;
  }

  p {
    margin: 0;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1% 10% 1% 18%;
  }

  @media screen and (max-width: 798px) {
    nav {
      padding: 0;
    }

    header {
      padding: 3% 5% 3% 5%;
    }
  }
</style>
