---
import logo from "/mica-profile.png";
---

<header>
  <nav id="main-nav">
    <ul>
      <li>
        <a href="/">✨Mica</a>
      </li>
      <li>
        <a href="/blog/">blog</a>
      </li>
      <li>
        <a href="#">contact me</a>
      </li>
    </ul>
  </nav>
</header>

<style scoped="scss">
  a {
    color: white;
    text-decoration-color: #eb4888;
    text-decoration-thickness: 3px;
    transition: transform 0.3s;
  }

  a:hover {
    color: pink;
    transform: scale(1.1);
  }

  a:focus {
    outline: 3px dotted pink;
    padding: 1%;
    width: auto;
  }
  header {
    padding: 3% 0 3% 0;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    gap: 2%;
    flex-direction: row;
  }

  ul > li {
    list-style: none;
  }

  p {
    margin: 0;
  }
</style>
