<header>
  <nav>
    <ul>
      <li>
        <a href="/blog/">blog</a>
      </li>
      <li>
        <a href="#">contact me</a>
      </li>
    </ul>
  </nav>
</header>

<style scoped="scss">
  header {
    background-color: pink;
  }

  ul {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    gap: 2%;
    flex-direction: row;
  }

  ul > li {
    list-style: none;
  }

  p {
    margin: 0;
  }
</style>
