---
import { t } from "i18next";
---

<section>
  <div class="container-title">
    <h1>{t("title")}</h1>
  </div>

  <h3>Frontend Developer and Accessibility Analyst</h3>
</section>

<style>
  .container-title {
    height: 5vh;
  }
  section {
    padding: 2%;
  }

  h1,
  h3 {
    color: white;
  }
</style>

<script>
  const title = document.querySelector("h1");
  const content = title?.textContent;
  let typeWriter = 0;
  const typeWriterFunc = (word: string) => {
    if (!word) return;

    const addChar = () => {
      if (typeWriter <= word.length) {
        title!.textContent = word.substring(0, typeWriter);
        typeWriter++;
        setTimeout(addChar, 250);
      }

      if (typeWriter === word.length) {
        let p = document.createElement("p");
        title?.setAttribute("aria-live", "polite");
        title?.setAttribute("role", "status");
        p.style.color = "white";
      }
    };

    addChar();
  };

  typeWriterFunc(content!);
</script>
