<div>
  <section>
    <div class="header-container">
      <div class="header-wrapper">
        <div class="container-title">
          <h2 id="title-name">Mica Avigliano</h2>
        </div>
        <h1>Frontend Developer and Accessibility Analyst</h1>
      </div>
      <div class="img-wrapper">
        <img src="/mica-profile.jpg" width="250" height="250" class="avatar" />
      </div>
    </div>
  </section>
  <section>
    <div class="info-wrapper">
      <p>
        Hello all! My name is Micaela. I'm a frontend developer with 4 years of
        experience working on modern technologies such as React and a special
        attention towards accessibility and developing impactful products that
        reach large target audience. Also, in a personal way, I really enjoy
        playing video games,
      </p>
    </div>
  </section>
  <section>
    <h4>Let's be friends:</h4>
    <div class="social-media-container">
      <img src="./github-logo.png" width="25" />
      <img src="./gmail.png" width="25" height="25" />
      <img src="./linkedin.png" width="25" height="25" />
      <img src="./twitter.png" width="25" height="25" />
    </div>
  </section>
</div>

<style>
  .container-title {
    height: 5vh;
  }

  .header-wrapper {
    width: 50%;
  }

  .img-wrapper {
    text-align: center;
  }

  .social-media-container {
    display: flex;
    flex-direction: row;
  }

  img.avatar {
    border-radius: 50%;
    display: inline-block;
    object-fit: cover;
  }
  section {
    margin-top: 2%;
    width: 100%;
  }

  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .info-wrapper {
    margin: 4% 0;
  }

  h4 {
    width: fit-content;
    background-color: #e9bc3f;
  }

  @media screen and (max-width: 768px) {
    .header-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .header-wrapper {
      width: 100%;
    }
  }
</style>

<script>
  const title = document.getElementById("title-name");
  const content = title?.textContent;
  let typeWriter = 0;
  const typeWriterFunc = (word: string) => {
    if (!word) return;

    const addChar = () => {
      if (typeWriter <= word.length) {
        title!.textContent = word.substring(0, typeWriter);
        typeWriter++;
        setTimeout(addChar, 250);
      }

      if (typeWriter === word.length) {
        let p = document.createElement("p");
        title?.setAttribute("aria-live", "polite");
        title?.setAttribute("role", "status");
      }
    };

    addChar();
  };

  typeWriterFunc(content!);
</script>
