---
import { Image } from "astro:assets";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Badge from './Badge.astro';
import profileImg from '../assets/img/mica-profile.jpg'
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---

<div class="container">
  <section>
    <div class="header-container">
      <div class="header-wrapper">
        <div class="container-title">
          <h2 id="title-name">Mica Avigliano</h2>
        </div>
        <h1>{t("info.about")}</h1>
      </div>
      <div class="img-wrapper">
        <Image src={profileImg} width="250" height="250" class="avatar" alt="" />
      </div>
    </div>
  </section>
  <section>
    <div class="info-wrapper">
      <p>
        {t("info.desc")}
      </p>
    </div>
  </section>
  <section>
    <h4>Let's be friends:</h4>
    <div class="social-media-container">
      <Badge title="Github" href="https://github.com/micaavigliano"/>
      <Badge title="Linkedin" href="https://www.linkedin.com/in/micaelaavigliano/" />
      <Badge title="Twitter" href="https://twitter.com/messycatx" />
    </div>
  </section>
</div>

<style>
  .container {
    margin-top: 20%
  }

  .container-title {
    height: 5vh;
  }

  .header-wrapper {
    width: 50%;
  }

  .img-wrapper {
    text-align: center;
  }

  .social-media-container {
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    justify-content: start;
    gap: 2%;
  }

  img.avatar {
    border-radius: 50%;
    display: inline-block;
    object-fit: cover;
  }
  
  section {
    margin-top: 2%;
    width: 100%;
  }

  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .info-wrapper {
    margin: 10% 0;
    text-align: center;
  }

  h4 {
    width: fit-content;
    background-color: #eb4888;
    font-weight: 200;
    padding: 1%
  }

  @media screen and (max-width: 768px) {
    .header-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .header-wrapper {
      width: 100%;
    }
  }
</style>

<script>
  const title = document.getElementById("title-name");
  const content = title?.textContent;
  let typeWriter = 0;
  const typeWriterFunc = (word: string) => {
    if (!word) return;

    const addChar = () => {
      if (typeWriter <= word.length) {
        title!.textContent = word.substring(0, typeWriter);
        typeWriter++;
        setTimeout(addChar, 250);
      }

      if (typeWriter === word.length) {
        title?.setAttribute("aria-live", "polite");
        title?.setAttribute("role", "status");
      }
    };

    addChar();
  };

  typeWriterFunc(content!);
</script>
