---
import MainLayout from "@layouts/MainLayout.astro";

export async function getStaticPaths() {
  const posts = await Astro.glob("../../../content/posts/*.{md,mdx}");

  return posts.map((post: any) => ({
    params: {
      slug: post.file
        .split("/")
        .pop()
        .replace(/\.md(x)?/, ""),
    },
    props: { post },
  }));
}

const { Content } = Astro.props.post;
---

<MainLayout>
  <div class="content">
    <Content />
  </div>
</MainLayout>

<script>
  const img = document.getElementsByTagName("img");

  for (let i = 0; i < img.length; i++) {
    img[i].style.width = "100%";
    img[i].style.height = "auto";
  }
</script>
