---
import MainLayout from "../../../layouts/MainLayout.astro";
const posts = await Astro.glob("../../../content/blog/en/*.{md,mdx}");
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import 'dayjs/locale/es';
dayjs.locale('es');


dayjs.extend(utc);
---

<MainLayout>
  <h1>Blog</h1>
  <section>
    <p>here you can find entries about programming and accessibility</p>
    <ul>
      {
        posts
          ?.sort((a, b) => {
            const dateA = new Date(a.frontmatter.posted).getTime();
            const dateB = new Date(b.frontmatter.posted).getTime();
            return dateB - dateA;
          })
          .map((post) => {
            const lastModified = dayjs(post.frontmatter.posted).locale('en').format("DD MMMM YYYY");
            return (
            <li>
              <a
                href={`./${post.file
                  .split("/")
                  .pop()
                  .replace(/\.md(x)?/, "")}`}
              >
                {post.frontmatter.title}
              </a>
              <p>{lastModified}</p>
            </li>)
          })
      }
     </ul>
  </section>
</MainLayout>

<style>
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0
  }

  li {
    width: 100%;
    padding: 2%;
    height: auto;
  }

  @media screen and (max-width: 768px) {
    ul {
      flex-direction: column;
    }
  }
</style>